<% layout('layouts/boilerplate.ejs') -%>
<body>
    <!-- Card for listing required -->
    <ul>
        <li><%=listing.name%></li>
        <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        <li><%=listing.description%></li>
        <form action="/listings/<%=listing._id%>/edit">
            <button>Edit</button>
        </form>
        <form action="/listings/<%=listing._id%>/delete?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </ul>
</body>
